:root{
  --bgcolor-3:rgb(237, 236, 236);
  --primaryColor: #F1EFDC;
  --secondaryColor:#5c1444;
  --bgcolor-1:#ffffff;
  --brcolor-2:black;
}
   
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: cursive;
    background-color: var(--bgcolor-1);
overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
   
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--secondaryColor);
    color: var(--bgcolor-1)
  }
  .nav-links a {
    color: var(--bgcolor-1);
  }
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .menu li:hover {
    background-color:var(--brcolor-2);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li {
    padding: 5px 14px;
  }
  /* DROPDOWN MENU */
  .trainers {
    position: relative; 
  }
  .dropdown {
    background-color: var(--brcolor-2);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 39px;
    right: 0px;
   }
  .dropdown li + li {
    margin-top: 10px;
  }
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  .dropdown li:hover {
    background-color: var(--secondaryColor);
  
  }
  .trainers:hover .dropdown {
    display: block;
  }

/*RESPONSIVE NAVBAR MENU */
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
  } 
  /*HAMBURGER MENU*/
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  .containerHome{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
.imgMain{
  display: block;
  width: 20%;
  height: 50%;
}
.news{
  width: 80%;
  margin: 0 auto;
}
.news h1{
  text-align: center;
}
.words{
  background: var(--secondaryColor);
  padding: 20px;
  margin: 3%;
  border-radius: 2%;
  color: var(--bgcolor-1);
}
.flip-card, .flip-card2{
  margin: 0 auto;
  margin-bottom: 3%;
}
table{
  width: 100%;
  height: 100%;
  text-align: center;
}
.flip-card-back, .flip-card2-back{
  width: 350px;
  height: 250px;
  border-radius: 5%;
  background-color: #5c1444;
  padding: 10%;
  color: var(--bgcolor-1);
}
/* .flip-card-back{
  display: flex;
  justify-content: space-between;
} */
.footer{
  background-color: var(--secondaryColor);
  min-height: 10%;
}
.footer h2{
  text-align: center;
  color: var(--bgcolor-1);
  padding: .7%;
}

.follow{
  display: flex;
  justify-content: space-around;
}
.follow div{
  padding-bottom: 2%;
}
.fa-phone{color: var(--bgcolor-1);
    font-size:150%;}
.fa-linkedin{color: var(--bgcolor-1);
    font-size:150%;}
.fa-twitter{color: var(--bgcolor-1);
    font-size:150%;}
.fa-github{color: var(--bgcolor-1);
    font-size:150%;}


        /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:var(--secondaryColor);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color:var(--secondaryColor);
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: var(--secondaryColor);
  }
  .containerHome{
    flex-direction: column;
  }
  }