:root{

    --white:#ffffff; 
    --Blackberry:#42032c;
    --DimGray:#676464;
    --Charcoal:#4a4848;
    --Nero:#1a1a1a;
    --Eggplant:#84155d; 
}



body {
    background-color:var(--white);
   
}

.cont {
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    box-shadow: 0px 20px 30px var(--DimGray);
    background:var(--Blackberry);
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#log{
    margin-top: 5%;
    width: 60%;
    float: right;

}

.cont h1 {
    padding: 30px;
    color:var(--white);
}

.form-group {
    padding: 7px ;
    padding-left:30px;
    width: 380px;
    
    margin: 0px;
    border: none;
    color: var(--white);
    
}



.form-control{
    width: 80% ;
    margin: 0 auto;
}
.txt:focus{
    outline: none;
}
#sub {
    margin-top:30px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 15px var(--Charcoal);
    background: linear-gradient(var(--white),var(--Nero));
    transition: 0.3s;
}


#sub:hover {
    transform: scale(1.1);
}

.fp {
   
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.fp:hover {
    text-decoration: underline;
    color: var(--Eggplant);
}

.icons {
    margin-top: 50px;
}

.icons i {
    padding-right: 10px;
    font-size: xx-large;
}

.icons i :hover {
    transform: scale(1.1);
}

.icons a {
    text-decoration: none;
    color:var(--white);
    transition: 0.3s;
}

.icons a:hover {
    color:var(--Eggplant);
}


@media(max-width: 700px){
    .cont{
        left: 50%;
    }
}